* {
    /* font-size:14px; */
    font-family: 'Leelawadee UI Web'
}

header {
    padding: 20px
}

.microsoft-login-button {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 250px;
    text-decoration: none;
    border-radius: 4px;
    padding: 5 7px;
    border: 1px solid #3b3a39;
    color: #3b3a39;
    background-color: white;
    text-align: center;
    text-decoration: none;
}

.microsoft-login-button:hover{
    text-decoration: none;
    color: #3b3a39;
}

.microsoft-login-button img {
    width: 35px;
    margin: 5px;
}

.shadow-effect {
    transition: 0.3s;
}

.shadow-effect:hover {
    -webkit-box-shadow: 0px 4px 15px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px -6px rgba(0,0,0,0.75);
}

/* Calendar Style */

.calendar {
    padding: 10px;
}

.calendar-table {
    width: 100%;
    background-color: #f3f2f1;
    text-align: center;
}

.calendar-table td {
    padding: 3px;
}
.calendar-table thead {
    background-color: white;
}

.calendar-table .day{
    height: 115px;
    min-width: 125px;
    margin: 2px;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
}

.current-day {
    border: 2px solid #0078d4;
    color: #0078d4
}

.disabled-day {
    background-color: #edebe9 !important;
}

.selected-day {
    border: 2px solid #004578;
    color: #004578;
    background-color: #c7e0f4 !important;
}

.day .day-event {
    font-size: 10px;
    padding: 2px;
    border-radius: 5px;
    margin-top: 2px;
}

@media (max-width: 900px){
    .calendar-table .day {
        width: 100%;
        height: 50px;
        min-width: auto;
    }

    .day .day-event {
        display: none;
    }
}

.red-orange {
    background: #da3b01;
    color: white;
}

.magenta {
    background: #8764b8;
    color: white;
}

.pink-red {
    background: #750b1c;
    color: white;
}

.yellow {
    background: #fce100;
    color: black;
}

.yellow-green {
    background: #8cbd18;
    color: black;
}

.calendar-toolbar {
    background-color: #0078d4;
    color: white
}

.toolbar-button{
    background-color: #0078d4;
    margin: 0px;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    outline: none;
    border: none;
    color: white;
    font-size: 25px !important;
    font-weight: 100;

}

.toolbar-button:hover {
    background-color: #004578;
    color: white;
}

.toolbar-button:focus {
    border: none;
    outline: none;
}

.fluent-input {
    padding: 3 7px;
    display:block;
    width: 100%;
    border: 1px solid #3b3a39;
    margin: 10px 0;
}

.fluent-input:focus {
    outline: none;
    border: 2px dashed #0078d4;
}

.card-content {
   padding: 10px; 
}

.event {
    padding: 5px;
    border-radius: 5px;
    margin: 10px 5px
}

.card {
    margin: 10px
}

.notif-count-coll {
    display: none;
    position:relative;
    right:-1.4em;
    top:-2.9em;
    background-color:#da3b01;
    line-height:20px;
    width:20px;
    height:20px;
    border-radius:10px;
    color: white;
}

@media (max-width: 900px){
    .notif-count-coll {
        display: inline-block;;
    }
}

/* todo: fix me... we are not supposed to do this. :( */
@media (max-width: 1240px){
    .event-panel {
        min-width: 997px;
    }
}
@media (max-width: 974px){
    .event-panel {
        min-width: auto;
    }
}