@using Services
@inject CalendarController calendarController

<div class="calendar">
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <select name="" id="" class="fluent-input" @onchange="OnYearSelectChanged">
                @for (int i = 2010; i < 2022; i++)
                {
                    <option "@((i == 2020 ? "selected" : ""))">@i</option>
                }
            </select>
        </div>
        <MonthSelector OnMonthSelectChanged="OnMonthSelectChanged"></MonthSelector>
    </div>
    <table class="calendar-table">
        <thead>
            <tr>
                <td>Sun</td>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wed</td>
                <td>Thu</td>
                <td>Fri</td>
                <td>Sat</td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < CalendarController.COUNT_DAYS_IN_CALENDAR; i++)
            {
                <tr>
                    @foreach (var day in days.Skip(i * 7).Take(7))
                    {
                        @DayTemplate(day)
                    }
                </tr>    
            }
        </tbody>
    </table>
</div>


@code {
    [Parameter]
    public RenderFragment<CalendarDay> DayTemplate {get; set;}
    private int year = 2020;
    private int month = 6;
    private List<CalendarDay> days = new List<CalendarDay>();
    private IEnumerable<CalendarEvent> events {get; set;}

    async Task OnYearSelectChanged(ChangeEventArgs e){
        year = Convert.ToInt32(e.Value.ToString());
        await UpdateCalendar();
    }

    async Task OnMonthSelectChanged(ChangeEventArgs e){
        month = Convert.ToInt32(e.Value.ToString());
        await UpdateCalendar();
    }

    protected override async Task OnInitializedAsync(){
        await UpdateCalendar();

        AddEvent.OnEventAdded += () => {
            StateHasChanged();
        };
    }

    private async Task UpdateCalendar(){
        var events = await calendarController.GetEventsInMonthAsync(year, month);

        days = calendarController.BuildMonthCalendarDays(year, month);
        await AddEventsToCalendar(days, events);
    }

    private async Task AddEventsToCalendar(List<CalendarDay> days, IEnumerable<CalendarEvent> events){
        if (events != null && events.Count() > 0){
            await Task.Run(() => {
                var nonEmptyDays = days.Where(d => !d.IsEmpty);

                foreach (var nonEmptyDate in nonEmptyDays)
                {
                    var filteredEvents = events.Where(e => e.StartDate.Date == nonEmptyDate.Date.Date);
                    foreach (CalendarEvent filteredEvent in filteredEvents)
                    {
                        nonEmptyDate.Events.Add(filteredEvent);
                    };
                }
            });
        }
    }
}